# Table of Contents

## Importing libraries
## Importing data
## Coding Etiquette & Excel Reporting_Part 1

# Part 1

In [2]:
# Import analysis and visualization libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

## Answer 1

In [3]:
# Importing dataframe
path = r"C:\Users\Mafalda\Documents\mafalda\Formação\Data Analytics\CareerFoundry\Data Analytics Program\2.Data Immersion\Achievement 4\Instacart Basket Analysis"

In [4]:
df= pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'instacard_basket_merged.pkl'))

In [5]:
df.shape

(32434212, 34)

In [6]:
df.head()

,user_id,last_name,gender,state,Age,date_joined,dependants,family_status,income,order_id,...,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean price,mean_price,Spending_flag,median_days_since_prior_order,Frequency_flag
0,26711,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,2543867,...,Regularly busy,Second Busiest day,Most oders,8,New customer,7.988889,7.988889,Low Spender,19.0,"Regular customer"""
1,26711,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,1285508,...,Regularly busy,Regularly busy,Most oders,8,New customer,7.988889,7.988889,Low Spender,19.0,"Regular customer"""
2,26711,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,2578584,...,Regularly busy,Second Busiest day,Most oders,8,New customer,7.988889,7.988889,Low Spender,19.0,"Regular customer"""
3,26711,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,423547,...,Regularly busy,Regularly busy,Most oders,8,New customer,7.988889,7.988889,Low Spender,19.0,"Regular customer"""
4,26711,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,2524893,...,Regularly busy,Least busy,Most oders,8,New customer,7.988889,7.988889,Low Spender,19.0,"Regular customer"""

## Answer 2

#### There is some PII information in this dataframe like the client last name. Since it is of no relevance for the analysis so far, it it preferable that it is removed form the dataframe for security issues.

In [7]:
# removing the last_name column from the dataframe
df2 = df.drop(columns = ['last_name'])

In [8]:
df2.shape

(32434212, 33)

In [9]:
df2.head()

,user_id,gender,state,Age,date_joined,dependants,family_status,income,order_id,eval_set,...,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean price,mean_price,Spending_flag,median_days_since_prior_order,Frequency_flag
0,26711,Female,Missouri,48,1/1/2017,3,married,165665,2543867,prior,...,Regularly busy,Second Busiest day,Most oders,8,New customer,7.988889,7.988889,Low Spender,19.0,"Regular customer"""
1,26711,Female,Missouri,48,1/1/2017,3,married,165665,1285508,prior,...,Regularly busy,Regularly busy,Most oders,8,New customer,7.988889,7.988889,Low Spender,19.0,"Regular customer"""
2,26711,Female,Missouri,48,1/1/2017,3,married,165665,2578584,prior,...,Regularly busy,Second Busiest day,Most oders,8,New customer,7.988889,7.988889,Low Spender,19.0,"Regular customer"""
3,26711,Female,Missouri,48,1/1/2017,3,married,165665,423547,prior,...,Regularly busy,Regularly busy,Most oders,8,New customer,7.988889,7.988889,Low Spender,19.0,"Regular customer"""
4,26711,Female,Missouri,48,1/1/2017,3,married,165665,2524893,prior,...,Regularly busy,Least busy,Most oders,8,New customer,7.988889,7.988889,Low Spender,19.0,"Regular customer"""

# Answer 3

In [10]:
# Creating a Region column based on state column
df2.loc[df2['state'].isin(['Maine','New Hampshire','Vermont','Massachusetts','Rhode Island','Connecticut','New York','Pennsylvania','New Jersey']), 'region'] = 'Northeast'
df2.loc[df2['state'].isin(['Wisconsin','Michigan','Illinois','Indiana','Ohio','North Dakota','South Dakota','Kansas','Minnesota','Iowa','Missouri']), 'region'] = 'Midwest'
df2.loc[df2['state'].isin(['Delaware','Mayrland','District of Cloumbia','Virginia','West Virginia','North Carolina','South Carolina','Georgia','Florida','Kentucky','Tennessee','Mississippi','Alabama','Oklahoma','Texas','Arkansas','Louisiana']), 'region'] = 'South'
df2.loc[df2['state'].isin(['Idaho','Montana','Wyoming','Nevada','Utah','Colorado','Arizona','New Mexico','Alaska','Washington','Oregon','California','Hawaii']), 'region'] = 'West'

C:\Users\Mafalda\AppData\Local\Temp\ipykernel_13704\3970838963.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Northeast' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df2.loc[df2['state'].isin(['Maine','New Hampshire','Vermont','Massachusetts','Rhode Island','Connecticut','New York','Pennsylvania','New Jersey']), 'region'] = 'Northeast'

In [11]:
df2.head()

,user_id,gender,state,Age,date_joined,dependants,family_status,income,order_id,eval_set,...,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean price,mean_price,Spending_flag,median_days_since_prior_order,Frequency_flag,region
0,26711,Female,Missouri,48,1/1/2017,3,married,165665,2543867,prior,...,Second Busiest day,Most oders,8,New customer,7.988889,7.988889,Low Spender,19.0,"Regular customer""",Midwest
1,26711,Female,Missouri,48,1/1/2017,3,married,165665,1285508,prior,...,Regularly busy,Most oders,8,New customer,7.988889,7.988889,Low Spender,19.0,"Regular customer""",Midwest
2,26711,Female,Missouri,48,1/1/2017,3,married,165665,2578584,prior,...,Second Busiest day,Most oders,8,New customer,7.988889,7.988889,Low Spender,19.0,"Regular customer""",Midwest
3,26711,Female,Missouri,48,1/1/2017,3,married,165665,423547,prior,...,Regularly busy,Most oders,8,New customer,7.988889,7.988889,Low Spender,19.0,"Regular customer""",Midwest
4,26711,Female,Missouri,48,1/1/2017,3,married,165665,2524893,prior,...,Least busy,Most oders,8,New customer,7.988889,7.988889,Low Spender,19.0,"Regular customer""",Midwest

In [12]:
df2['region'].value_counts()

region
South        9560039
West         8300445
Midwest      6977513
Northeast    5728347
Name: count, dtype: int64

In [13]:
# Creating a crosstab  region with the spending flag
crosstab = pd.crosstab(df2['region'],df2['Spending_flag'], dropna = False)

In [14]:
crosstab

Spending_flag  High spender  Low Spender
region
Midwest              142077      6835436
Northeast            108343      5620004
South                185712      9374327
West                 160807      8139638
NaN                   38522      1829346

#### There no diferences in spendong habits across regions

# Answer 4

In [15]:
# Creating an exclusion flag for low-activity customers
df2.loc[df2['max_order'] >= 5, 'activity_flag'] = 'High'
df2.loc[df2['max_order'] < 5, 'activity_flag'] = 'Low'

C:\Users\Mafalda\AppData\Local\Temp\ipykernel_13704\2657705797.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'High' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df2.loc[df2['max_order'] >= 5, 'activity_flag'] = 'High'

In [16]:
df2['activity_flag'].value_counts(dropna=False)

activity_flag
High    30992664
Low      1441548
Name: count, dtype: int64

In [17]:
# Creating a subset of dataframe containing high activity customers
df_high = df2[df2['activity_flag'] =='High']

In [18]:
df_high. shape

(30992664, 35)

In [19]:
df_high.head

<bound method NDFrame.head of           user_id  gender     state  Age date_joined  dependants  \
0           26711  Female  Missouri   48    1/1/2017           3
1           26711  Female  Missouri   48    1/1/2017           3
2           26711  Female  Missouri   48    1/1/2017           3
3           26711  Female  Missouri   48    1/1/2017           3
4           26711  Female  Missouri   48    1/1/2017           3
...           ...     ...       ...  ...         ...         ...
32434166   135902  Female  Missouri   66    4/1/2020           2
32434167   135902  Female  Missouri   66    4/1/2020           2
32434168   135902  Female  Missouri   66    4/1/2020           2
32434169   135902  Female  Missouri   66    4/1/2020           2
32434170   135902  Female  Missouri   66    4/1/2020           2

         family_status  income  order_id eval_set  ...  busiest_period_of_day  \
0              married  165665   2543867    prior  ...             Most oders
1              married  165665   1285508    prior  ...             Most oders
2              married  165665   2578584    prior  ...             Most oders
3              married  165665    423547    prior  ...             Most oders
4              married  165665   2524893    prior  ...             Most oders
...                ...     ...       ...      ...  ...                    ...
32434166       married   53374    974951    prior  ...         Average orders
32434167       married   53374    628984    prior  ...             Most oders
32434168       married   53374   1157983    prior  ...             Most oders
32434169       married   53374   2498530    prior  ...         Average orders
32434170       married   53374   1104840    prior  ...             Most oders

          max_order  loyalty_flag  mean price  mean_price  Spending_flag  \
0                 8  New customer    7.988889    7.988889    Low Spender
1                 8  New customer    7.988889    7.988889    Low Spender
2                 8  New customer    7.988889    7.988889    Low Spender
3                 8  New customer    7.988889    7.988889    Low Spender
4                 8  New customer    7.988889    7.988889    Low Spender
...             ...           ...         ...         ...            ...
32434166          8  New customer    6.960345    6.960345    Low Spender
32434167          8  New customer    6.960345    6.960345    Low Spender
32434168          8  New customer    6.960345    6.960345    Low Spender
32434169          8  New customer    6.960345    6.960345    Low Spender
32434170          8  New customer    6.960345    6.960345    Low Spender

          median_days_since_prior_order      Frequency_flag   region  \
0                                  19.0   Regular customer"  Midwest
1                                  19.0   Regular customer"  Midwest
2                                  19.0   Regular customer"  Midwest
3                                  19.0   Regular customer"  Midwest
4                                  19.0   Regular customer"  Midwest
...                                 ...                 ...      ...
32434166                            8.0  Frequent customer"  Midwest
32434167                            8.0  Frequent customer"  Midwest
32434168                            8.0  Frequent customer"  Midwest
32434169                            8.0  Frequent customer"  Midwest
32434170                            8.0  Frequent customer"  Midwest

          activity_flag
0                  High
1                  High
2                  High
3                  High
4                  High
...                 ...
32434166           High
32434167           High
32434168           High
32434169           High
32434170           High

[30992664 rows x 35 columns]>

In [20]:
# Exporting subset data
df_high.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'instacart_customer_high_activity.pkl'))

# Answer 5

In [21]:
# Determining dataframe columns
df_high. columns

Index(['user_id', 'gender', 'state', 'Age', 'date_joined', 'dependants',
       'family_status', 'income', 'order_id', 'eval_set', 'order_number',
       'orders_day_of_week', 'order_hour_of_day', 'days_since_prior_order',
       'product_id', 'add_to_cart_order', 'reordered', '_merge',
       'product_name', 'aisle_id', 'department_id', 'prices',
       'Price_range_loc', 'busiest_day', 'busiest_days',
       'busiest_period_of_day', 'max_order', 'loyalty_flag', 'mean price',
       'mean_price', 'Spending_flag', 'median_days_since_prior_order',
       'Frequency_flag', 'region', 'activity_flag'],
      dtype='object')

In [22]:
# describing Age variable
df_high['Age'].describe()

count    3.099266e+07
mean     4.946793e+01
std      1.848520e+01
min      1.800000e+01
25%      3.300000e+01
50%      4.900000e+01
75%      6.500000e+01
max      8.100000e+01
Name: Age, dtype: float64

In [23]:
# there will be 3 age groups created in a new Age group flag
df_high.loc[(df_high['Age'] >=18) &(df_high['Age'] <=33),'Age_group_flag'] = 'Young'
df_high.loc[(df_high['Age'] >=34) &(df_high['Age'] <=64),'Age_group_flag'] = 'Midle Age'
df_high.loc[(df_high['Age'] >=65),'Age_group_flag'] = ' Old'

C:\Users\Mafalda\AppData\Local\Temp\ipykernel_13704\2533387078.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_high.loc[(df_high['Age'] >=18) &(df_high['Age'] <=33),'Age_group_flag'] = 'Young'
C:\Users\Mafalda\AppData\Local\Temp\ipykernel_13704\2533387078.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Young' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_high.loc[(df_high['Age'] >=18) &(df_high['Age'] <=33),'Age_group_flag'] = 'Young'

In [24]:
df_high['Age_group_flag'].value_counts(dropna=False)

Age_group_flag
Midle Age    15025347
 Old          8202746
Young         7764571
Name: count, dtype: int64

In [25]:
# describing Income variable
df_high['income'].describe()

count    3.099266e+07
mean     9.967322e+04
std      4.313928e+04
min      2.590300e+04
25%      6.728900e+04
50%      9.676500e+04
75%      1.281010e+05
max      5.939010e+05
Name: income, dtype: float64

In [26]:
# there will be 3 income groups created in a new income_group flag
df_high.loc[(df_high['income'] >=2.5903e+04) &(df_high['income'] <=6.728900e+04),'income_group_flag'] = 'Low income'
df_high.loc[(df_high['income'] >6.728900e+04) &(df_high['income'] <=1.281010e+05),'income_group_flag'] = 'Regular income'
df_high.loc[(df_high['income'] >1.281010e+05),'income_group_flag'] = 'High income'

C:\Users\Mafalda\AppData\Local\Temp\ipykernel_13704\903587290.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_high.loc[(df_high['income'] >=2.5903e+04) &(df_high['income'] <=6.728900e+04),'income_group_flag'] = 'Low income'
C:\Users\Mafalda\AppData\Local\Temp\ipykernel_13704\903587290.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Low income' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_high.loc[(df_high['income'] >=2.5903e+04) &(df_high['income'] <=6.728900e+04),'income_group_flag'] = 'Low income'

In [27]:
df_high['income_group_flag'].value_counts(dropna=False)

income_group_flag
Regular income    15496374
Low income         7748290
High income        7748000
Name: count, dtype: int64

In [28]:
# Describing department_id variable
df_high['department_id']

0            7
1            7
2            7
3           16
4           16
            ..
32434166    19
32434167    19
32434168    19
32434169    11
32434170    13
Name: department_id, Length: 30992664, dtype: int64

In [29]:
#Adding the department_id name to the data set
dept = pd.read_csv(os.path.join(path, '02 data', 'Prepared data', 'departments_wrangled.csv'))

In [30]:
dept.shape

(21, 2)

In [31]:
dept.columns

Index(['Unnamed: 0', 'department'], dtype='object')

In [32]:
# rename columns
dept.rename(columns = {'Unnamed: 0':'department_id'}, inplace = True)

In [33]:
df_high. shape

(30992664, 37)

In [41]:
#dropping df_high columns
df_high2 = df_high.drop(columns = ['date_joined','add_to_cart_order','reordered','_merge','aisle_id', 'order_id', 'eval_set', 'order_number'])

In [42]:
df_high2.shape

(30992664, 29)

In [45]:
# merge dataframes
df_final=dept.merge(df_high2, on = 'department_id')

MemoryError: Unable to allocate 1.15 GiB for an array with shape (5, 30992664) and data type float64

In [ ]:
df_final.head

In [ ]:
df_final['department'].value_counts()

In [ ]:
# Describing number_dependants variable
df_final['dependants'].value_counts(dropna=False)

In [ ]:
# there will be 3 dependant groups created in a new dependant_group flag
df_final.loc[(df_final['dependants'] <1),'dependants_group_flag'] = 'no dependant'
df_final.loc[(df_final['dependants'] ==1),'dependants_group_flag'] = 'one dependant'
df_final.loc[(df_final['dependants'] >1),'dependants_group_flag'] = 'plus dependants'

In [ ]:
df_final['dependants_group_flag'].value_counts(dropna=False)

In [ ]:
df_final.shape

In [ ]:
# Exporting data
df_final.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'instacart_customer_high_activity_v2.pkl'))

# Answer 6

In [ ]:
# Creating a data subset 70/30 split for data visualization
np.random.seed(4)
dev = np.random.rand(len(df_final)) <= 0.7
big= df_final[dev]
small=df_final[~dev]

In [ ]:
len(df_final)

In [ ]:
len (big)+len(small)

In [ ]:
# Visualization of age distribution/ nºorders
small['Age_group_flag'].value_counts().plot.bar()
plt.ticklabel_format(style='plain', useOffset=False, axis='y')
y=np.array  ([0,1000000,2000000,3000000,4000000,5000000,6000000])
plt.yticks(y,["0","1", "2","3","4","5","6"], rotation=0)
plt.xlabel(" ", fontsize=12)
plt.xticks(rotation=0)
plt.ylabel("Number of Orders", fontsize=12)
plt.title ("Age Group Distribuition", fontsize=14)
plt.show()

In [ ]:
# Visualization of income distribution/ nºorders
small['income_group_flag'].value_counts().plot.bar()
plt.xlabel(" ", fontsize=12)
plt.xticks(rotation=0)
plt.ylabel("Number of orders ", fontsize=12)
plt.title ("Income Group Distribuition", fontsize=14)
plt.show()

In [ ]:
# Visualization of department distribution/ nºorders
small['department'].value_counts().plot.bar()
plt.ylabel("Number of Orders", fontsize=12)
plt.xlabel(" ", fontsize=12)  
plt.title("Orders by Departments", fontsize=14)
plt.show()

In [ ]:
# Visualzation of income distribution/ nºorders
small['dependants_group_flag'].value_counts().plot.bar()
plt.xlabel(" ", fontsize=12)
plt.xticks(rotation=0)
plt.ylabel("Number of orders ", fontsize=12)
plt.title ("Dependants Group Distribuition", fontsize=14)
plt.show()

#  Answer 7

In [ ]:
small.head(1)

In [ ]:
# Aggregating the max, mean, min variables on age group for usage frequency and expenditure
small.groupby('Age_group_flag').agg({'order_number':['mean', 'min', 'max'], 'prices':['mean', 'min', 'max']})

In [ ]:
# Aggregating the max, mean, min variables on spending  for usage frequency and expenditure
small.groupby('Spending_flag').agg({'order_number':['mean', 'min', 'max'], 'prices':['mean', 'min', 'max']})

In [ ]:
# Aggregating the max, mean, min variables on gender for usage frequency and expenditure
small.groupby('gender').agg({'order_number':['mean', 'min', 'max'], 'prices':['mean', 'min', 'max']})

In [ ]:
# Aggregating the max, mean, min variables on Loyalty flag for usage frequency and expenditure
small.groupby('loyalty_flag').agg({'order_number':['mean', 'min', 'max'], 'prices':['mean', 'min', 'max']})

In [ ]:
# Aggregating the max, mean, min variables on family status for usage frequency and expenditure
small.groupby('family_status').agg({'order_number':['mean', 'min', 'max'], 'prices':['mean', 'min', 'max']})

In [ ]:
# Aggregating the max, mean, min variables on income group for usage frequency and expenditure
small.groupby('income_group_flag').agg({'order_number':['mean', 'min', 'max'], 'prices':['mean', 'min', 'max']})

In [ ]:
# Aggregating the max, mean, min variables on dependants group for usage frequency and expenditure
small.groupby('dependants_group_flag').agg({'order_number':['mean', 'min', 'max'], 'prices':['mean', 'min', 'max']})

In [ ]:
# Aggregating the max, mean, min variables on product bought for usage frequency and expenditure
small.groupby('department').agg({'order_number':['mean', 'min', 'max'], 'prices':['mean', 'min', 'max']})

# Answer 8

In [ ]:
# Comparing customer profiles with regions

In [ ]:
# Creating crosstab age group /region
crosstab_Age_region = pd.crosstab(small['region'], small['Age_group_flag'], dropna=False)

In [ ]:
crosstab_Age_region

In [ ]:
# Creating crosstab income /region
crosstab_income_region = pd.crosstab(small['region'], small['income_group_flag'], dropna=False)

In [ ]:
crosstab_income_region

In [ ]:
# Creating crosstab dependants /region
crosstab_dependants_region = pd.crosstab(small['region'], small['dependants_group_flag'], dropna=False)

In [ ]:
crosstab_dependants_region

In [ ]:
# Creating crosstab department products /region
crosstab_departments_region = pd.crosstab(small['region'], small['department'], dropna=False)

In [ ]:
crosstab_departments_region

In [ ]:
# Creating crosstab spending flag/region
crosstab_spending_region = pd.crosstab(small['region'], small['Spending_flag'], dropna=False)

In [ ]:
crosstab_spending_region

In [ ]:
# Creating crosstab gender /region
crosstab_gender_region = pd.crosstab(small['region'], small['gender'], dropna=False)

In [ ]:
crosstab_gender_region

In [ ]:
# Creating crosstab loyalty /region
crosstab_loyalty_region = pd.crosstab(small['region'], small['loyalty_flag'], dropna=False)

In [ ]:
crosstab_loyalty_region

In [ ]:
# Comparing customer profiles with departments

In [ ]:
# Creating crosstab age group / departments
crosstab_Age_departments= pd.crosstab(small['department'], small['Age_group_flag'], dropna=False)

In [ ]:
crosstab_Age_departments

In [ ]:
# Creating crosstab income group / departments
crosstab_income_departments= pd.crosstab(small['department'], small['income_group_flag'], dropna=False)

In [ ]:
crosstab_income_departments

In [ ]:
# Creating crosstab dependants group / departments
crosstab_dependants_departments= pd.crosstab(small['department'], small['dependants_group_flag'], dropna=False)

In [ ]:
crosstab_dependants_departments

In [ ]:
# Creating crosstab spending / departments
crosstab_spending_departments= pd.crosstab(small['department'], small['Spending_flag'], dropna=False)

In [ ]:
crosstab_spending_departments

In [ ]:
# Creating crosstab gender / departments
crosstab_gender_departments= pd.crosstab(small['department'], small['gender'], dropna=False)

In [ ]:
crosstab_gender_departments

In [ ]:
# Creating crosstab loyalty / departments
crosstab_loyalty_departments= pd.crosstab(small['department'], small['loyalty_flag'], dropna=False)

In [ ]:
crosstab_loyalty_departments

# Answer 9

In [ ]:
# Visualization for age group /region crossbar
crossbar_age_region_chart=crosstab_Age_region.plot.bar(color=['red', 'blue', 'green', 'orange'])
plt.ylabel("Number of Orders", fontsize=12)
plt.xlabel(" ", fontsize=12)  
plt.title("Age Distribuiton by Regions", fontsize=14)
plt.show()

In [ ]:
# Visualization for income /region crossbar
crossbar_income_region_chart=crosstab_income_region.plot.bar(color=['red', 'blue', 'green', 'orange'])
plt.ylabel("Number of Orders", fontsize=12)
plt.xlabel(" ", fontsize=12)  
plt.title("Income by Region", fontsize=14)
plt.show()

In [ ]:
# Visualization for dependants /region crossbar
crossbar_dependants_region_chart=crosstab_dependants_region.plot.bar(color=['red', 'blue', 'green', 'orange'])
plt.ylabel("Number of Orders", fontsize=12)
plt.xlabel(" ", fontsize=12)  
plt.title("Number of dependants by Region", fontsize=14)
plt.show()

In [ ]:
# Visualization for departments /region crossbar
crossbar_departments_region_chart=crosstab_departments_region.plot.barh(color=['red', 'blue', 'green', 'orange'])
plt.xlabel("Number of Records", fontsize=10)
plt.xticks(rotation=0)
plt.ylabel(" ", fontsize=10)  
plt.title("Department products by Region", fontsize=14)

In [ ]:
# Visualization for spending  /region crossbar
crossbar_spending_region_chart=crosstab_spending_region.plot.bar(color=['red', 'blue', 'green', 'orange'])
plt.ylabel("Number of Orders", fontsize=12)
plt.xlabel(" ", fontsize=12)  
plt.title("Spending by Region", fontsize=14)
plt.show()

In [ ]:
# Visualization for gender  /region crossbar
crossbar_gender_region_chart=crosstab_gender_region.plot.bar(color=['red', 'blue', 'green', 'orange'])
plt.ylabel("Number of Orders", fontsize=12)
plt.xlabel(" ", fontsize=12)  
plt.title("Gender by Region", fontsize=14)
plt.show()

In [ ]:
# Visualization for Loyalty  /region crossbar
crossbar_loyalty_region_chart=crosstab_loyalty_region.plot.bar(color=['red', 'blue', 'green', 'orange'])
plt.ylabel("Number of Orders", fontsize=12)
plt.xlabel(" ", fontsize=12)  
plt.title("Loyalty by Region", fontsize=14)
plt.show()

In [ ]:
# Visualization for age group /departments crossbar
crossbar_age_department_chart=crosstab_Age_departments.plot.bar(color=['red', 'blue', 'green', 'orange'])
plt.ylabel("Number of Orders", fontsize=12)
plt.xlabel(" ", fontsize=12)  
plt.title("Age Distribuiton by Departments", fontsize=14)
plt.show()

In [ ]:
# Visualization for income /departments crossbar
crossbar_income_departments_chart=crosstab_income_departments.plot.bar(color=['red', 'blue', 'green', 'orange'])
plt.ylabel("Number of Orders", fontsize=12)
plt.xlabel(" ", fontsize=12)  
plt.title("Income by Departments", fontsize=14)
plt.show()

In [ ]:
# Visualization for dependants /departments crossbar
crossbar_dependants_departments_chart=crosstab_dependants_departments.plot.bar(color=['red', 'blue', 'green', 'orange'])
plt.ylabel("Number of Orders", fontsize=12)
plt.xlabel(" ", fontsize=12)  
plt.title("Number of dependants by Departments", fontsize=14)
plt.show()

In [ ]:
# Visualization for spending  /departments crossbar
crossbar_spending_departments_chart=crosstab_spending_departments.plot.bar(color=['red', 'blue', 'green', 'orange'])
plt.ylabel("Number of Orders", fontsize=12)
plt.xlabel(" ", fontsize=12)  
plt.title("Spending by Departments", fontsize=14)
plt.show()

In [ ]:
# Visualization for gender  /departments crossbar
crossbar_gender_departments_chart=crosstab_gender_departments.plot.bar(color=['red', 'blue', 'green', 'orange'])
plt.ylabel("Number of Orders", fontsize=12)
plt.xlabel(" ", fontsize=12)  
plt.title("Gender by Departments", fontsize=14)
plt.show()

In [ ]:
# Visualization for loyalty /departments crossbar
crossbar_loyalty_departments_chart=crosstab_loyalty_departments.plot.bar(color=['red', 'blue', 'green', 'orange'])
plt.ylabel("Number of Orders", fontsize=12)
plt.xlabel(" ", fontsize=12)  
plt.title("Loyalty by Departments", fontsize=14)
plt.show()

In [ ]:
# Exporting charts
crossbar_age_region_chart.figure.savefig(os.path.join(path, '04 Analysis','Visualizations', 'bar_age_region.png'))
crossbar_income_region_chart.figure.savefig(os.path.join(path, '04 Analysis','Visualizations', 'bar_income_region.png'))
crossbar_dependants_region_chart.figure.savefig(os.path.join(path, '04 Analysis','Visualizations', 'bar_dependants_region.png'))
crossbar_spending_region_chart.figure.savefig(os.path.join(path, '04 Analysis','Visualizations', 'bar_spending_region.png'))
crossbar_gender_region_chart.figure.savefig(os.path.join(path, '04 Analysis','Visualizations', 'bar_gender_region.png'))
crossbar_loyalty_region_chart.figure.savefig(os.path.join(path, '04 Analysis','Visualizations', 'bar_loyalty_region.png'))
crossbar_departments_region_chart.figure.savefig(os.path.join(path, '04 Analysis','Visualizations', 'bar_departments_region.png'))
crossbar_income_departments_chart.figure.savefig(os.path.join(path, '04 Analysis','Visualizations', 'bar_income_departments.png'))
crossbar_dependants_departments_chart.figure.savefig(os.path.join(path, '04 Analysis','Visualizations', 'bar_dependants_departments.png'))
crossbar_spending_departments_chart.figure.savefig(os.path.join(path, '04 Analysis','Visualizations', 'bar_spending_departments.png'))
crossbar_gender_departments_chart.figure.savefig(os.path.join(path, '04 Analysis','Visualizations', 'bar_gender_departments.png'))
crossbar_loyalty_departments_chart.figure.savefig(os.path.join(path, '04 Analysis','Visualizations', 'bar_loyalty_departments.png'))