# Table of Contents

## Importing libraries
## Importing data
## Merging data

## Answer 3

In [17]:
# import libraries
import pandas as pd
import numpy as np
import os

In [18]:
# importing new dataframe
path =  r'C:\Users\Mafalda\Documents\mafalda\Formação\Data Analytics\CareerFoundry\Data Analytics Program\2.Data Immersion\Achievement 4\Instacart Basket Analysis'

In [19]:
df_orders_product_combined = pd.read_pickle(os.path.join(path,'02 Data', 'Prepared Data','orders_products_combined.pkl'))

## Answer 4

In [20]:
# New dataframe shape check
df_orders_product_combined. shape

(32434489, 12)

In [21]:
df_orders_product_combined. head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

## Answer 5

In [22]:
# New database info on columns and data type
df_orders_product_combined. dtypes

Unnamed: 0                   int64
order_id                     int64
user_id                      int64
eval_set                    object
order_number                 int64
orders_day_of_week           int64
order_hour_of_day            int64
days_since_prior_order     float64
product_id                   int64
add_to_cart_order            int64
reordered                    int64
_merge                    category
dtype: object

In [23]:
# Import wrangled products data set
df_products_checked = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [24]:
# Products wrangled dataframe shape check
df_products_checked. shape

(49693, 6)

In [25]:
df_products_checked. head ()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [26]:
# df_products_checked info on columns and data type
df_products_checked. dtypes

Unnamed: 0         int64
product_id         int64
product_name      object
aisle_id           int64
department_id      int64
prices           float64
dtype: object

In [27]:
df_orders_product_combined. dtypes

Unnamed: 0                   int64
order_id                     int64
user_id                      int64
eval_set                    object
order_number                 int64
orders_day_of_week           int64
order_hour_of_day            int64
days_since_prior_order     float64
product_id                   int64
add_to_cart_order            int64
reordered                    int64
_merge                    category
dtype: object

In [29]:
# dropping the unnamed collumn in both dataframes
df_products_checked=df_products_checked.drop(columns = ['Unnamed: 0'])

In [30]:
df_orders_product_combined=df_orders_product_combined.drop(columns = ['Unnamed: 0'])

In [31]:
# Merging the former dataframes on column 'Product_id'
df_merged=df_orders_product_combined.merge(df_products_checked, on =
    'product_id')

In [32]:
df_merged.dtypes

order_id                     int64
user_id                      int64
eval_set                    object
order_number                 int64
orders_day_of_week           int64
order_hour_of_day            int64
days_since_prior_order     float64
product_id                   int64
add_to_cart_order            int64
reordered                    int64
_merge                    category
product_name                object
aisle_id                     int64
department_id                int64
prices                     float64
dtype: object

In [33]:
df_merged.shape

(32434212, 15)

In [34]:
df_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,2539329,1,prior,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0
1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0
2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0
3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0
4,431534,1,prior,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0

## Answer 6

In [35]:
# confirming results using the merge flag
df_merged['_merge'].value_counts()

_merge
both          32434212
left_only            0
right_only           0
Name: count, dtype: int64

In [36]:
#Exporting new datafrme ein pickle format
df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))